* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #cccccc, #32CD32);
}

.container {
    width: 70%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vmin;
    background-color: rgb(243, 243, 242);
    border-radius: 50px;
}

.titulo {
    font-size: 4vmax;
}

.form-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    align-items: center;
}

.campos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campos label {
    font-size: 1.4vmax;
}

.campos input {
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #000;
}

.form-container button {
    padding: 5px;
    width: 100%;
    margin-top: 3vmin;
    font-size: 1.5vmax;
    border-radius: 30px;
    background-color: rgb(5, 163, 5);
    color: rgb(255, 255, 255);
    border: none;
}

.form-container button:hover {
    background-color: transparent;
    color: rgb(5, 163, 5);
    border: 1px solid rgb(5, 163, 5);
    cursor: pointer;
}

.navegar {
    padding: 5px;
    width: 50%;
    text-align: center;
    border: 1px solid rgb(201, 197, 5);
    border-radius: 30px;
    color: rgb(201, 197, 5);
    text-decoration: none;
    font-size: 1.3vmax;
}

.navegar:hover {
    background-color: rgb(201, 197, 5);
    color: #fff;
    border: none;
    cursor: pointer;
}

#message {
    color: red;
}