/* Formatação para tirar os estilos padrões dos navegadores */
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0; 
}

body {
    align-items: center;
    background: linear-gradient(to right, #caca03, rgb(5, 163, 5));
    display: flex;
    height: 100vh;
    justify-content: center;
}

.container {
    align-items: center;
    background-color: rgb(243, 243, 242);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-height: 500px;
    padding: 20px;
    width: 70%;
}

.titulo {
    font-size: 40px;
}

#message {
    color: rgb(255, 0, 0);
    font-size: 16px;
    text-align: center;
}

.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    width: 70%;
}

.campos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.campos label {
    font-size: 15px;
}

.campos input {
    border: 1px solid #000;
    border-radius: 7px;
    padding: 5px;
}

.compos input::placeholder {
    font-size: 8px;
}

.form-container button {
    background-color: rgb(5, 163, 5);
    border: none;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    margin-top: 3vmin;
    padding: 5px;
    width: 100%;
}

.form-container button:hover {
    background-color: transparent;
    border: 1px solid rgb(5, 163, 5);
    color: rgb(5, 163, 5);
    cursor: pointer;
}

.navegar {
    background-color: #caca03;
    border: 1px solid #caca03;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 70%;
}

.navegar:hover {
    background-color: transparent;
    border: 1px solid #caca03;
    color: #caca03;
    cursor: pointer;
}

.dashboard-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 70%;
}